.subir{
    display: inline-block;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    border-width: 3px; 
    border-style: dashed; 
    border-color: #999999; 
}

.subir:hover{
    cursor: pointer;
}

.progreso{
    margin: 0 0 0 auto;
}

.archivo-modal-elimina{
    width: 5%;
    margin: 0 5% 0 0;
    text-align: center;
}

progress[value]{  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Quitamos el borde que aparece en Firefox */
    border: none;

    /* Aplicamos las dimensiones */
    height: 10px;

}

progress::-moz-progress-bar { background: #882D17; }
progress::-webkit-progress-value { background: #882D17; }
