.sep{
  margin-bottom: 5.8%;
}

.linksI{
  text-align: left;
  width: 100%;
  padding:  0% 0% 0% 0%;
          /*S  D   I  Iz*/
}

.textN{
  display: inline-block;
  width: 75%;
  color:#221f1f;
  margin-right: 15%; 
}


.iconoL{
  color: red;
  font-size: 2rem;

}