.tar_proyectos{
    width: 80%;
    margin: 0 10% 0 10%;
}

.card{
    margin-right: 20px;
}

.usuarios{
    font-size: 1000%;
}

.titulo_tarjeta{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}