<!-- Inicio modal para agregar tareas -->

<div class="modal fade cerrar" id="modal-diagrama-tareas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Inicio encabezado del modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;
                    </span>
                </button>
            </div>
            <!-- Final del encabezado del modal -->
            <!-- Inicio Cuerpo del modal -->
            <div class="modal-body">
                <div id="gantt_here" style='width:100%; height:400px;'></div>
                <script type="text/javascript">
                    
                </script>
            </div>
            <!-- Final cuerpo del modal -->
            <!-- Inicio footer del modal --->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cerrar
                </button>
                
            </div>
            <!-- Final footer del modal --->
        </div>
        <!-- Final modal para agregar tareas --->