<div class="container">
    <div class="tar_proyectos">
        <div class="card-deck-equipos row">
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class='btn-registro-equipo btn btn-primary btn-block'>Registrar nuevo equipo</button>
            </div>
            <div class="col-4"></div>
        </div>
</div>
<div class="modal-container"></div>



<!--
    
    Notas:
            -clase usuarios: contiene la imagen del equipo

            -clase equipos-nombre: encabezado con el nombre del equipo

            -clase equipos-descripcion equipo: parrafo con una breve descripcion de que hace el equipo

            -clase equipos-btn-irEquipos: boton que se encarga de redirigir al una seccion de equipos

            - 

-->