<div class="modal fade" role="dialog" id="modal-equipo">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Info equipo</h4>
                <button type="button" class="close btn-cerrar-equipo" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-xs-12 equipo-descripcion equipo-alineacion">
                        <h3 class="equipo-nombre-equipo"></h3>
                        <p class="equipo-texto-descripcion">
                        </p>
                    </div>
                    <div class="col-lg-8 col-sm-12 equipo-proyectos equipo-alineacion">
                        <h3 class="equipo-encab-proyectos">Procesos del equipo</h3>
                        <table class="display" id="table-proceso" style="width:100%">
                            <thead>
                                <tr>
                                    <th>nombre</th>
                                    <th>opciones</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-proceso">
                            </tbody>
                        </table>
                        <button class='btn-registro-proceso btn btn-primary btn-block'>Registrar nuevo proceso</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 equipo-miembros">
                        <h3 class="equipo-alineacion">Miembros</h3>
                        <table id="table-equipo" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th><em class="fa fa-user"></em></th>
                                    <th>Nombre</th>
                                    <th>Roles</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-usuario-equipo">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cerrar-equipo" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>