<div class="col-sm-12">
    <section class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="card col-md-12 col-lg-8">
            <div class="card-block">
                <h3 class="card-title">Inicio de sesion</h3>
                <form class="form" action="#">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" name="regular" id="input-email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Contraseña</label>
                        <div class="col-md-9">
                            <input class="form-control" id="input-password" type="password" name="pass">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-lg btn-primary btn-iniciar-sesion">Acceder</button>
                            <button type="button" class="btn btn-lg btn-secondary btn-registro-usuario">Registrar</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-12 col-lg-2">
        </div>
        
    </section>
</div>
