<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="images/favicon.ico">
	<title class="title-head">scooter anywhere - Inicio</title>

	<!-- Bootstrap core CSS -->
	<link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="assets/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Icons -->
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="assets/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
	<link href="assets/css/jsgantt.css" rel="stylesheet">
	<link href="assets/css/dhtmlxgantt.css?v=6.1.6" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="assets/sass/style.css" rel="stylesheet">
	

</head>

<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
				<h1 class="site-title"><a href="index.php"><em class="titulo"></em>scooter anywhere</a></h1>

				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item btn-menu"><a class="nav-link btn-index active" href="#"><em
								class="fa fa-dashboard"></em> Inicio</a></li>
					<li class="nav-item btn-user-menu"><a class="nav-link btn-servicios" href="#"><em
								class="fa fa-list-ul"></em> Mis servicios</a></li>
					<li class="nav-item btn-user-menu"><a href="#" class="nav-link btn-logout"><em
								class="fa fa-power-off"></em> Cerrar sesion</a></li>
				</ul>

			</nav>
			<main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8">
						<h1 class="float-left text-center text-md-left titulo-h1">Inicio</h1>
					</div>
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a
							class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="username mt-1">
								<h4 class="usuario-h4 mb-1"></h4>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;"
							aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#"><em
									class="fa fa-user-circle mr-1"></em> Ver perfil</a>
							<a class="dropdown-item btn-logout" href="#"><em class="fa fa-power-off mr-1"></em>Cerrar
								sesion</a></div>
					</div>
					<div class="clear"></div>
				</header>
				<section class="row main-panel">
					<!--Aqui van las vistas-->
				</section>

			</main>
			<div class="modal-container-panel"></div>
			<div class="modal-container-usuario"></div>
			<div class="modal-container-servicio"></div>
			<div class="modal-container-registro-usuario"></div>
			<div class="modal-container-registro-viaje"></div>
			<div class="modal-container-registro-renta"></div>
			<div class="modal-container-registro-aparato-viaje"></div>
			<div class="modal-container-registro-aparato-renta"></div>
			<div class="modal-container-detalle-renta"></div>
			<div class="modal-container-detalle-viaje"></div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/dist/js/jquery.min.js"></script>
	<script src="assets/dist/js/popper.min.js"></script>
	<script src="assets/js/bootstrap-select.min.js"></script>
	<script src="assets/dist/js/bootstrap.min.js"></script>
	<script src="assets/js/chart.min.js"></script>
	<script src="assets/js/chart-data.js"></script>
	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>
	<script src="assets/js/moment-with-locales.min.js"></script>
	<script src="assets/js/tempusdominus-bootstrap-4.min.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/archivos.js"></script>
	<script src="assets/js/md5.js"></script>
	<script src="assets/js/dataTables.bootstrap4.min.js"></script>
	<script src="assets/js/dropzone.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/tether.min.js"></script>
	<script type="text/javascript" src="assets/js/dhtmlxgantt.js?v=6.1.6"></script>
	<script src="assets/js/gamma-framework.js"></script>
	<script src="assets/js/app.js"></script>

</body>

</html>