<div class="container">
    <div class="row">
    </div>
    <table class="table table-striped table-bordered" id="table-procesos" style="width:100%">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Equipo</th>
                <th>opciones</th>
            </tr>
        </thead>
        <tbody class="tbody-proceso">
        </tbody>
    </table>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button class='btn-registro-proceso btn btn-primary btn-block'>Registrar nuevo proceso</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>