<!-- Inicio modal para agregar tareas -->
<div class="modal fade cerrar" id="modal-registro-equipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Inicio encabezado del modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;
                    </span>
                </button>
            </div>
            <!-- Final del encabezado del modal -->
            <!-- Inicio Cuerpo del modal -->
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- contenido de cada pestaña -->
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Datos</h3>
                            <div class="form-group row">
                                <div class="col-4">
                                    <input class="form-control txt-equipo-nombre" placeholder="nombre" type="text">
                                </div>
                                <div class="col-3">

                                </div>
                                <div class="col-5">
                                    <select class="selectpicker select-equipo-usuario" data-live-search="true"
                                        data-header="Selecciona integrantes" multiple>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <textarea class="form-control txt-descripcion-equipo"
                                placeholder="Introduce la descripcion del equipo" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Final cuerpo del modal -->
            <!-- Inicio footer del modal --->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary btn-set-equipo">
                    Registrar equipo
                </button>
            </div>
            <!-- Final footer del modal --->
        </div>
        <!-- Final modal para agregar tareas --->