<!-- Inicio modal para agregar tareas -->
<div class="modal fade cerrar" id="modal-registro-usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Inicio encabezado del modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;
                    </span>
                </button>
            </div>
            <!-- Final del encabezado del modal -->
            <!-- Inicio Cuerpo del modal -->
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- contenido de cada pestaña -->
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Introduce tus datos</h3>
                            <div class="form-group row">
                                <div class="col-4">
                                    <input class="form-control txt-usuario-email" placeholder="email" type="email">
                                </div>
                                <div class="col-4">
                                    <input class="form-control txt-usuario-nombre" placeholder="nombre" type="text">
                                </div>
                                <div class="col-4">
                                    <input class="form-control txt-usuario-apellidos" placeholder="apellidos"
                                        type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-1">
                        </div>
                        <div class="col-4">
                            <input class="form-control txt-usuario-password" placeholder="contraseña" type="password">
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-4">
                            <input class="form-control txt-usuario-password2" placeholder="repite la contraseña"
                                type="password">
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" id="0" class="btn btn-primary btn-set-usuario">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>