<div class="container">
    <div class="row">
        <div class="col-6">
            <table id="table-viaje" class="table table-striped table-bordered " style="width:100%">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Folio</th>
                        <th>opciones</th>
                    </tr>
                </thead>
                <tbody id="tbl-usuarios-body">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Folio</th>
                        <th>opciones</th>
                    </tr>
                </tfoot>
            </table>
            <button class='btn-registro-viaje btn btn-success btn-block'>Registrar nuevo viaje</button>
        </div>
        <div class="col-6">
            <table id="table-renta" class="table table-striped table-bordered " style="width:100%">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Dias custodio</th>
                        <th>Direccion</th>
                        <th>opciones</th>
                    </tr>
                </thead>
                <tbody id="tbl-usuarios-body">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Inicio</th>
                        <th>Dias custodio</th>
                        <th>Direccion</th>
                        <th>opciones</th>
                    </tr>
                </tfoot>
            </table>
            <button class='btn-registro-renta btn btn-success btn-block'>Rentar</button>
        </div>
    </div>
</div>