<div class="container">
	<div class="table-responsive mis_tareas">
		
		<table class="display" id="table-tareas" style="width:100%">
				<thead>
						<tr>
							<th>Nombre</th>
							<th>Proceso</th>
							<th>Fecha inicio</th>
							<th>Fecha fin</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody class="tbody-tareas-usuario">
					</tbody>
		</table>
	</div>
</div>


<!--
	Notas:
			-los div de clases tarea y tareitas son unicamente para estilos

			-las clases blanco y plata colorean a la linea de la tabla

			-clase tarea-nombre-tarea: area encargada de coloar el nombre de la tarea

			-clase tarea-nombre-perteneciente: area del proyecto del cual pertenece

			-clase tarea-fecha-entrega: colocacion de la fecha limite. En esta seccio se especifica con colores la sercania a la fecha.

				-> a_tiempo: se colorea la fecha de verde
				-> maso: se colorea la fecha de amarillo
				->tarde: se colorea la fecha de rojo

			-clase tarea-btn-irProyecto: clase incluida dentro del boton que redirige al proyecto.


-->