<div class="modal fade" role="dialog" id="modal-usuario">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informacion Usuario</h4>
                <button type="button" class="close btn-usuario-cerrar" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-xs-12 equipo-descripcion equipo-alineacion">
                        <h3 class="h3-usuario-nombre">Datos de usuario</h3>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Usuario</label>
                            <div class="col-lg-9"><input name="disabled" disabled="disabled" value=""
                                    class="form-control usuario-usuario-text" type="text"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Nombre</label>
                            <div class="col-lg-9"><input name="disabled" disabled="disabled" value=""
                                    class="form-control usuario-nombre-text" type="text"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Apellidos</label>
                            <div class="col-lg-9"><input name="disabled" disabled="disabled" value=""
                                    class="form-control usuario-apellidos-text" type="text"></div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 col-xs-12 equipo-descripcion equipo-alineacion">
                        <h3 class="h3-usuario-nombre">Equipos</h3>
                        <table id="table-equipo" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>descripcion</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-usuario-equipo">
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6"><button id='0' class='btn btn-sm btn-success btn-equipo-add'
                                    type='button'>añadir a equipo</button>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 equipo-proyectos equipo-alineacion">
                        <h3 class="equipo-encab-proyectos">Roles del usuario</h3>
                        <table class="display" id="table-rol" style="width:100%">
                            <thead>
                                <tr>
                                    <th>nombre</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-usuario-rol">
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6"><button id='0' class='btn btn-sm btn-success btn-rol-add rol-1'
                                    type='button'>añadir rol</button>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 equipo-miembros">
                        <h3 class="equipo-alineacion">Tareas del usuario</h3>
                        <table class="display" id="table-tarea" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Proceso</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha fin</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-usuario-tarea">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-usuario-cerrar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-container-rol"></div>
<div class="modal-container-equipo"></div>
<div class="modal-container-equipo-view"></div>