<div class="container">
    <div class="row">
    </div>
    <table id="table-usuarios" class="table table-striped table-bordered" style="width:100%">
        <div class="row">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>equipos</th>
                    <th>roles</th>
                    <th>opciones</th>
                </tr>
            </thead>
            <tbody id="tbl-usuarios-body">
            </tbody>
            <tfoot>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>equipos</th>
                    <th>roles</th>
                    <th>opciones</th>
                </tr>
            </tfoot>

    </table>
</div>


<!--
    Notas:
            -clase usuarios-opcion: seccion donde se coloca el nombre de la opcion del multiselect
            -clase uusarios-cNombre-usuario: campo de la tabla donde se coloca el campo de nombre
            -clase usuarios-nombre-usuarios: seccion donde se coloca el nombre del usuario sacado de la base de datos
            
            -por el momento son todas las clses etiquetadas ya que no se ha especificado que mas se pondra en la tabla

-->